<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#1 Template Basic</title>
</head>
<body>
    <h1>Templates Basic</h1>
    <!-- This is a Comment which shows while inspect the Web -->
    {% comment %} This is a Comment which use at Django_Level {% endcomment %}
    {# This is a 3rd Comment #}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat esse aliquid maxime molestias adipisci, id blanditiis, inventore tempora quae provident magnam iste consequuntur?</p>
    
    {% comment %} Single Variable {% endcomment %}
    <P>Name : {{name}}</P>
    <P>Age : {{age}}</P>

    {% comment %} List Access {% endcomment %}
    <p>First Skill : {{skills.0}}</p>
    <p>First Skill : {{skills.1}}</p>
    <p>First Skill : {{skills.2}}</p>
    
    {% comment %} Object Attribute {% endcomment %}
    <p>User Name : {{User.name}}</p>
    <p>User Age : {{User.age}}</p>
    
    {% comment %} Dict {% endcomment %}
    <h2>Blog Information</h2>
    <p>Title : {{blog.title}}</p>
    <p>Author : {{blog.author.name}}</p>
    <p>Conetent : {{blog.content}}</p>
    <p>Conetent : {{blog.content|safe}}</p>
    <p>Created_At : {{blog.created_at}}</p>
    
    {% comment %} Default Value {% endcomment %}
    <p>Default Empty Value : {{empty_value|default:"No value here"}}</p>
    <p>Default Empty Value : {{empty_value|default_if_none:"No Data"}}</p>

</body>
</html>