<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#2 Templates </title>
</head>
<body>
    <h1>My Templates #2 Blog Filter Page</h1>

    {% comment %} Text Filter {% endcomment %}
    {% comment %} <p><b>Title (Normal):</b> {{post.title}}</p> {% endcomment %}
    <p><b>Title (Normal):</b> {{title}}</p>
    <p><b>UpperCase:</b> {{title | upper}}</p>
    <p><b>LowerCase:</b> {{title | lower}}</p>
    <p><b>Title:</b> {{title | title}}</p>
    <p><b>Capitilization:</b> {{title | capfirst}}</p>
    <p><b>TruncateChars:</b> {{title | truncatechars:12}}</p>
    <p><b>truncatewords:</b> {{title | truncatewords:2}}</p>
    <p><b>LineBreaks:</b> {{title | linebreaks}}</p>

    <hr>
</html>