<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#2 Templates </title>
</head>

<body>
    <h1>My Templates #2 Blog Filter Page</h1>
    <p><b>Author Available ?: {{author| yesno:"Yes , NO , Maybe"}}</b></p>
    <p><b>Comment Count ?: {{comment_count}} Comment{{comment_count|pluralize}}</b></p>

    <hr>

    {% comment %} Text Filter {% endcomment %}
    <p><b>Create At : {{created_at}}</b></p>
    <p><b>Formated Date : {{created_at|date:"D d M Y"}}</b></p>
    <p><b>Time Only : {{created_at|time:"H:i"}}</b></p>

    {% comment%} Encoding and formatting {% endcomment %}
    <p><b> Title Encode</b>: {{title|urlencode}}</p>
    <p><b> Float Format Exmaple:</b>: {{123.343243|floatformat:3}}</p>

    <hr>

    {% comment %} Text Filter {% endcomment %}

    <p><b>Title (Normal):</b> {{title}}</p>
    <p><b>UpperCase:</b> {{title | upper}}</p>
    <p><b>LowerCase:</b> {{title | lower}}</p>
    <p><b>Title:</b> {{title | title}}</p>
    <p><b>Capitilization:</b> {{title | capfirst}}</p>
    <p><b>TruncateChars:</b> {{title | truncatechars:12}}</p>
    <p><b>truncatewords:</b> {{title | truncatewords:2}}</p>
    <p><b>LineBreaks:</b> {{title | linebreaks}}</p>

    <hr>

    {% comment %} ADDITION BY {% endcomment %}

    <p><b>Original Pricing:</b>{{price}}</p>
    <p><b>Original Price(+5):</b>{{price | add:5}}</p>

    {% comment %} DIVISION BY {% endcomment %}

    {% if number|divisibleby:2%}
    <p>{{number}} is Even</p>
    {% else %}
    <p>{{number}} is Odd</p>
    {% endif %}

    <hr>

    {% comment %} List Filter {% endcomment %}

    <p><b>Tags:</b>{{tag}}</p>
    <p><b>First Tag:</b>{{tag | first}}</p>
    <p><b>last Tag:</b>{{tag | last}}</p>
    <p><b>Total Tag:</b>{{tag | length}}</p>
    <p><b>Slice :</b>{{tag | slice:":2"}}</p>
    <p><b>Join Tag :</b>{{tag | join:" : "}}</p>

</html>