<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#3 Templates </title>
</head>

<body>
    <h1>Blog List</h1>
    <p>{{today}}</p>

    {% comment %} If Else {% endcomment %}

    {% if blogs.0.is_feautre %}
    <h2>Featured Blog:{{blogs.0.title}}</h2>
    {% else %}
    <h2>No Featured Blog:{{blogs.0.title}}</h2>
    {% endif %}

    {% comment %}

    {% if blogs.1.is_feature %}
    <h2>Featured Blog:{{blogs.1.title}}</h2>
    {% else %}
    <h2>No Featured Blog:{{blogs.1.title}}</h2>
    {% endif %}

    {% endcomment %}


    <ul>
        {% for blog in blogs %}
        <li>{{forloop.counter}}.{{blog.title}} - {{blog.author}}</li>
        {%empty%}
        <li>No Blogs Avaliable</li>
        {% endfor %}
    </ul>

    {% comment %} With {% endcomment %}
    {%with total_blogs=blogs|length%}
    <p><b>Total Blogs:</b>{{total_blogs}}</p>
    {% endwith %}

    <hr>

    {% comment %} Cycle {% endcomment %}

    <h2>Blog in Table</h2>
    <table border="1" cellpadding="5" cellspacing="0">
        {% for blog in blogs %}
        <tr style="background-color: {% cycle 'lightblue' 'lightgreen' %};">
            <td>{{ forloop.counter }}</td>
            <td>{{ blog.title }}</td>
            <td>{{ blog.author }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No Blogs Available</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>