{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="about">
    <h2>About Me</h2>
    <p>Hello!! I am  Tom Naizu and I am a Web Developer from Delhi Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur sint quo id placeat! Magni et tempora ipsam asperiores eius quos non fuga iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eos. Impedit sequi velit rem quae voluptates voluptatum perferendis possimus exercitationem nulla labore aliquid expedita veritatis, soluta cum eaque quia, corrupti, eos tenetur. Voluptas, consequatur.</p>
</section>
{% endblock %}
